<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment::meta}"></div>
		<div th:replace="~{fragment::styles}"></div>	
		<title>パスワード再登録画面</title>	
	</head>
	
	<body>
		<div>
			<div th:replace="~{fragment::header}"></div>  <!--ヘッダー-->
			<main>
				<div class="container pt-4 pb-5 ">
					     <div class="row justify-content-center">
					         <div class="col-xl-5 col-lg-6 col-md-8">  
					             
					             <div th:if="${message}" class="alert alert-info">
					                 <span th:text="${message}"></span>
					             </div> 
					             
					             <div th:if="${error}" class="alert alert-danger">
					                 <span th:text="${error}"></span>
					             </div>
					             
					         </div>
					     </div>
					 </div>
				<div class="container pt-5 pb-5 passmissing-container">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-4 col-md-5 col-sm-7">
							<h1 class="mb-4 text-center">パスワード再登録用メール送信</h1>
							<div th:if="${param.error}" class="alert alert-danger">登録されているメールではありません</div>

					<!---------------------------------ここからFORM------------------------------------>
							<form th:action="@{/passmissing}" method="post">
								<div class="passmissing-form mb-4">
									<input type="email" class="form-control" name="email" autocomplete="email" placeholder="メールアドレス" autofocus>
								</div>
								
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								
								<div class="passmissing-form mb-4 d-flex justify-content-center">
									<button type="submit" class="btn text-black shadow-sm w-120">
										<i class="fas fa-sign-in-alt"></i>再設定用のメールを送信
									</button>
								</div>
							</form>
					<!---------------------------------ここまでFORM------------------------------------>	
					        <div class="text-center">
								<a th:href="@{/signup}">会員登録</a>
							</div>	
										
				        </div>
					</div>
				</div>
			</main>
			<div th:replace="~{fragment::footer}"></div>  
		</div>	
		<div th:replace="~{fragment::scripts}"></div>
	</body>
</html>