<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragment::meta}"></div>
        <div th:replace="~{fragment::styles}"></div>
        <title>パスワード変更</title>
    </head>
    
    <body>
        <div>
            <div th:replace="~{fragment::header}"></div>
            <main>
                <div class="container pt-4 pb-5">
                    <h1 class="mb-4 text-center">パスワードの変更</h1>

                    <!-- 成功メッセージ -->
                    <div th:if="${successMessage}" class="alert alert-success">
                        <p th:text="${successMessage}"></p>
                    </div>
                    
                    <!-- エラーメッセージ -->
                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <form th:action="@{/updatePassword}" method="post">
                        <div class="form-group">
                            <label for="currentPassword">現在のパスワード</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">新しいパスワード</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">新しいパスワードの確認</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </main>
            <div th:replace="~{fragment::footer}"></div>
        </div>
        <div th:replace="~{fragment::scripts}"></div>
    </body>
</html>
