<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment::meta}"></div>
    <div th:replace="~{fragment::styles}"></div>
    <title>TOP PAGE</title>


</head>    
<body>
    <div th:replace="~{fragment::header}"></div> <!--ヘッダー-->

    <main>
        <div class="container pt-4 pb-4 nagoyameshi-message">
            <div th:if="${param.loggedIn}" class="alert alert-info">ログインしました</div>
            <div th:if="${param.loggedOut}" class="alert alert-info">ログアウトしました</div>
        </div>
        
		<div class="container pt-4 pb-5 nagoyameshi-container">
			     <div class="row justify-content-center">
			         <div class="col-xl-5 col-lg-6 col-md-8">  
			             
			             <div th:if="${successMessage}" class="alert alert-info">
			                 <span th:text="${successMessage}"></span>
			             </div> 
			             
			             <div th:if="${errorMessage}" class="alert alert-danger">
			                 <span th:text="${errorMessage}"></span>
			             </div>
			             
			         </div>
			     </div>
			 </div>
		
		
			 <!-- 画像リンクを中央に配置 -->
			 <div class="index-image-container mb-10">
			     <a href="#" th:href="@{/shop-list}" class="index-shop-link">
			         <img src="/storage/top_shop.jpg" alt="Top Shop Image" />
			         <span class="index-shop-text">店舗を見る</span> <!-- 文字を追加 -->
			     </a>
			 </div>
    </main>

    <div th:replace="~{fragment::footer}"></div> <!--フッター-->
    <div th:replace="~{fragment::scripts}"></div>
</body>
</html>
